body{
	margin : 0px;
	padding : 0px;
}
iframe {
	position : absolute;
	top : 0px;
	right : 0px;
	bottom : 0px;
	width : 60%;
	height : 100%;
	display : block;
	border : none;
}
#one{
	background-color : lightgray;
	position : absolute;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 40%;
	margin : 0px;
	padding : 0px;
	z-index : 1;

}
img{
	display : inline;
	margin-top : 350px;
	margin-left : 80px;
	margin-right : 20px;
	margin-bottom : 100px; 
	padding : 30px;
	width : 120px;
	height : 170px;
	background-color : black;
	
}
#two{
	display : block;
	position : absolute;
	top : 0px;
	left : 0px;
	width : 40%;
	height : 250px;
	padding : 0px;
	background-color : black;
	z-index : 2;
}
p{
	font-size : 40px;
	text-align : center;
	color : white;
	font-weight : lighter;
	margin : auto;
	margin-top : 100px;	
	border : 2px solid lightgray;
	padding : 20px;
	padding-left : 20px;
	padding-right : 20px;
	width : 300px;
	

}
a{
	border : none;
}
h1{
	position : absolute;
	top : 610px;
	left : 200px;
	display : block;
	width : 200px;
	height : 30px;
	font-size : 20px;
	font-weight : lighter;
	height : 50px;
	border : 2px solid black;
	background : lightgray;
	color : black;
	z-index : 3;
	margin : 0px;
	margin-top: 20px;
	margin-bottom : 10px;
	text-align : center;
	padding-top  : 10px;
	padding-bottom : 0px;
	padding-left : 5px;
	padding-right : 5px;
}
h1:hover{
	background-color : black;
	color : white;
}



